@import './base/_base.scss'; 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    position: relative;
    --primary-color: #bde7fd;
    --secondary-color: #fffbc6;
    --message-color: #FFB2A6;
    --error-color: #ff7878;
    --lvl1-color: #b29bf9;
    --lvl2-color: #d26dfa;
    --lvl3-color: #fd429f;
    --lvl4-color: #96212b;
    @media(max-width: 1024px) {
        font-size: 12px;
    }
    @media(max-width: 769px) {
        font-size: 9px;
    }
}

body.capital::after {
    content: '';
    position: relative;
    right: 10px;
    top: 10px;
    position: absolute;
    background: url('../img/capital.svg.png');
    background-size: cover;
    width: 80px;
    height: 105px;

}

span {
    font-weight: 700;
    font-size: 1.2em;
}

.wrapper {
    max-width: 1530px;
    padding: 0 40px;
    margin: 0 auto;
    @media(max-width: 1024px) {
        padding: 0 20px;
    }
}

header {
    background: var(--primary-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title-wrap {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        margin-bottom: 8px;
        .title {
            font-weight: 700;
            font-size: 24px;
            line-height: 1.2em;
            margin-right: 4px;
            @media(max-width: 1024px) {
                font-size: 20px;
            }
        }
        .info-icon {
            cursor: pointer;
            height: 16px;
            width: 16px;
            z-index: 9999;
            transition: .2s;
            &:hover {
                transform: scale(1.1);
                &+.total-info-block {
                    opacity: 1;
                }
            }
        }
        .total-info-block {
            opacity: 0;
            transition: .2s;
            position: absolute;
            padding: 20px 20px 16px 20px;
            margin-left: 8px;
            left: 100%;
            width: max-content;
            background: var(--message-color);
            border-radius: 8px;
            z-index: 999;
            .message {
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 8px;
            }
            .desc {
                margin-bottom: 4px;
            }
        }
    }
    .currentMoney, .totalEarnedMoney {
        font-size: 16px;
        text-align: center;
        @media(max-width: 1024px) {
            font-size: 14px;
        }
    }
}

main {
    padding: 40px 0;
    @media(max-width: 1024px) {
        padding: 20px 0;
    }
    .button {
        user-select: none;
        display: flex;
        align-items: center;
        width: fit-content;
        margin: 0 auto;
        padding: 8px 16px;
        border-radius: 8px;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        background: #000;
        transition: all 0.3s ease-in-out;
        border: 4px solid #000;
        box-shadow: 0px 0px 0px 1px #000 inset;
        &:after {
            background: var(--lvl1-color);
            border: 0px solid #000;
            content: "";
            height: 155px;
            left: -75px;
            opacity: .8;
            position: absolute;
            top: -50px;
            -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
            width: 50px;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            z-index: 1;
          }
        &:hover {
            border: 4px solid var(--lvl1-color);
            background-color: var(--lvl1-color);
            box-shadow:0px 0px 0px 4px var(--lvl1-color) inset;
            &:after {
                background: var(--lvl1-color);
                border: 20px solid #000;
                opacity: 0;
                left: 120%;
                -webkit-transform: rotate(40deg);
                transform: rotate(40deg);
            }
        }
        &.lvl2 {
            &:after {
                background: var(--lvl2-color);
            }
            &:hover {
                border: 4px solid var(--lvl2-color);
                background-color: var(--lvl2-color);
                box-shadow:0px 0px 0px 4px var(--lvl2-color) inset;
                &:after {
                    background: var(--lvl2-color);
                }
            }
        }
        &.lvl3 {
            &:after {
                background: var(--lvl3-color);
            }
            &:hover {
                border: 4px solid var(--lvl3-color);
                background-color: var(--lvl3-color);
                box-shadow:0px 0px 0px 4px var(--lvl3-color) inset;
                &:after {
                    background: var(--lvl3-color);
                }
            }
        }
        &.lvl4 {
            &:after {
                background: var(--lvl4-color);
            }
            &:hover {
                border: 4px solid var(--lvl4-color);
                background-color: var(--lvl4-color);
                box-shadow:0px 0px 0px 4px var(--lvl4-color) inset;
                &:after {
                    background: var(--lvl4-color);
                }
            }
        }
        &:hover .desc {
            color: #fff;
        }
        .desc {
            margin-left: 8px;
            font-size: 18px;
            color: #fff;
        }
    }
    .powerup {
        margin: 20px 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 20px;
        position: relative;
        @media(max-width: 1024px) {
            column-gap: 10px;
            margin: 10px 0;
        }
        .card {
            user-select: none;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3);
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #ccc;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            transition: .2s;
            background: #fff;
            &:hover {
                transform: scale(1.1);
            }
            &[data-powerup="junior"] {
                z-index: 9999;
            }
            &.maximum {
                animation: max 1s;
            }
        }
        .welcome-popup {
            position: absolute;
            z-index: 9999;
            left: 20%;
            top: -40px;
            width: 200px;
            img {
                width: 100px;
                transform: rotateY(180deg);
                filter: invert(85%) sepia(12%) saturate(778%) hue-rotate(170deg) brightness(102%) contrast(98%);
            }
            p {
                color: #fff;
                font-size: 18px;
            }
            &.disable {
                display: none;
            }
        }
    }
    .title-block {
        display: flex;
        align-items: flex-start;
        width: fit-content;
        position: relative;
        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        .title {
            font-weight: 700;
            font-size: 20px;
            line-height: 1.2em;
            margin-right: 4px;
            @media(max-width: 1024px) {
                font-size: 18px;
            }
        }
        .info-icon {
            cursor: pointer;
            height: 16px;
            width: 16px;
            z-index: 9999;
            transition: .2s;
            &:hover {
                transform: scale(1.1);
                &+.info-block {
                    opacity: 1;
                    z-index: 9999;
                }
            }
        }
        .info-block {
            opacity: 0;
            transition: opacity .2s, z-index 0s;
            position: absolute;
            padding: 20px 20px 16px 20px;
            margin-left: 8px;
            left: 100%;
            bottom: 20px;
            width: max-content;
            background: var(--message-color);
            border-radius: 8px;
            font-weight: 300;
            font-size: 16px;
            width: 300px;
            z-index: -1;
        }
    }
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 999;
    &.message-popup {
        z-index: 99999;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &.disable {
        display: none;
    }
    .message {
        max-width: 60%;
        background: #fff;
        border-radius: 8px;
        padding: 20px 30px;
        flex-direction: column;
        align-items: center;
        display: none;
        &.active {
            display: flex;
        }
        h3 {
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 40px;
            @media(max-width: 1024px) {
                margin-bottom: 20px;
                font-size: 20px;
            }
        }
        .close {
            padding: 10px 20px;
            cursor: pointer;
            transition: .3s;
            border-radius: 8px;
            margin-top: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .3);
            background: var(--secondary-color);
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@keyframes max {
    0% {
        transform: scale(.8);
        background: var(--error-color);
    }
    100% {
        background: #fff;
    }
}